name: Simple grade build

on:
  push:
    branches: [ master, develop, bv-support ]
  pull_request:
    branches: [ master, develop ]

jobs:
  licenseAndFormatCheck:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Check license header
      run: ./gradlew checkLicenses
    - name: Check formating
      run: ./gradlew verifyGoogleJavaFormat
  build:
    needs: licenseAndFormatCheck
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Build with Gradle
      run: ./gradlew assemble test
